In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
teamsdata = pd.read_csv('nbadata.csv', sep = ',')

In [9]:
teamsdata.head()

,Week,Boston Celtics,Philadelphia 76ers,Toronto Raptors,Brooklyn Nets,New York Knicks,Milwaukee Bucks,Cleveland Cavaliers,Chicago Bulls,Indiana Pacers,...,Phoenix Suns,Los Angeles Clippers,Sacramento Kings,Golden State Warriors,Los Angeles Lakers,New Orleans Pelicans,Memphis Grizzlies,Dallas Mavericks,San Antonio Spurs,Houston Rockets
0,12/5/2021,8,5,1,5,5,17,12,29,6,...,5,3,2,17,20,3,7,8,6,9
1,12/12/2021,6,7,1,5,8,14,14,16,8,...,6,2,2,22,23,3,5,8,4,8
2,12/19/2021,9,5,1,3,8,21,14,27,5,...,8,2,2,17,25,3,6,8,6,6
3,12/26/2021,6,5,1,8,5,13,17,32,7,...,7,3,2,16,26,3,9,9,5,8
4,1/2/2022,6,5,2,8,6,17,14,34,9,...,5,3,2,16,22,4,7,9,3,7

Above is the data I accessed from Google Trends. What I had to do to access the data is put each NBA team into google trends, and since you can only do 5 items in trends at a time, I accessed it by NBA division (there are 5 teams per division). Each of those game me a .csv, and then I combined all 6 of the .csv files into one to have all the data in one place. Additionally, I removed some unnecessary data from the raw .csvs that i didnt really need as well as to make it more readable. 

So above every team is listed (you cant see them all right now because it compresses it but there are 30 teams) and the numbers are the teams popularity on google by week. What i will probably do next is change the dates to grouping by month instead of by week just to have it be easier to read and have less data to have to interpret. 

My end goal will be to look at the total popularity over the year for each team, determine which teams have been the most popular over the last year, as well as look at what times of the year nba teams are trending also what times of the year have the least amount of searches. 

One issue I have is that some teams have the value '>' meaning that their popularity for that week is less than the value '1', so I will have to figure out what I plan to do with those values.