# Likes Report - Joshua Malone 9/20/22

### Analysis

I will be analyzing data from instagram that holds all of a users (the user is my account) liked posts. it will be converted into a dataframe that will list each account, and the number of times the user has liked a post fromt that account.

### Hypothesis

I would assume that the accounts that have been liked by the user are going to be the accounts that post the most content. So it will be accounts run by organizations, and most likely not a friends account, since the account run by a team post the most content, there is a better chance of the user liking one of their posts. The highest amount of likes an account will have will be in the 900-1000 range and lowest accounts will be 1, and there will be many accounts with just 1 like.

import libraries

In [56]:
import pandas as pd
import json

import needed file

In [57]:
with open(r"C:\Users\joshu\DataEMATfa22\josh__malone_20220905\likes\liked_posts.json") as j:
    likes = json.load(j)

open data

create initial dataframe

In [58]:
like_df = pd.DataFrame(likes)

3a) the data was collected by us (the user of the account) and instagram. the data was provided by us, we created the data by liking a photo on instagram, and instagram stores that data

3b) data like this is collected for companies like instagram to make money. they have systems that look at posts we've liked, and then that data helps them decide what to show us on our feed. assuming that the data is collected for them to make money off of advertisments, it seems like it would be less important to store data for things like when we like a friends post, and more important/significant for them store data about ads that we have liked. whenever i like an add for something, for the next week or so, that product or something similar to it comes up on my feed very often.

3c) like i said before, this data is reliable for not only instagram but small companies to help them make their sales or accomplish whatever they are trying to sell. the data needs to be reliable for instagram so that they are showing you the right ads and content on your timeline.

3d) the data instagram collected (we were apart of collecting it too) could be unrelaible in a few ways. maybe the fact that someone was on your phone and liked a post of an ad you wernt really interested in, maybe you share an account with someone who has different interests or you could just be someone who doesnt like many posts, so instagram isnt sure what kind of ads to present to you.

In [59]:
like_df

                                       likes_media_likes
0      {'title': 'kingjames', 'media_list_data': [], ...
1      {'title': 'igrumpycat', 'media_list_data': [],...
2      {'title': 'chrisbosh', 'media_list_data': [], ...
3      {'title': 'kingjames', 'media_list_data': [], ...
4      {'title': 'igrumpycat', 'media_list_data': [],...
...                                                  ...
30332  {'title': 'nathangerhart28', 'media_list_data'...
30333  {'title': 'danschillero', 'media_list_data': [...
30334  {'title': 'molly.curry1', 'media_list_data': [...
30335  {'title': 'steelersbyjoey', 'media_list_data':...
30336  {'title': 'resellingsecrets', 'media_list_data...

[30337 rows x 1 columns]

dig deeper into the array to access timestamp, title, etc

In [60]:
test1 = pd.DataFrame(likes['likes_media_likes'])

In [61]:
test1

,title,media_list_data,string_list_data
0,kingjames,[],[{'href': 'https://www.instagram.com/p/X9GaxRi...
1,igrumpycat,[],[{'href': 'https://www.instagram.com/p/X94VyHm...
2,chrisbosh,[],[{'href': 'https://www.instagram.com/p/X-SoU1M...
3,kingjames,[],[{'href': 'https://www.instagram.com/p/X-U9KEC...
4,igrumpycat,[],[{'href': 'https://www.instagram.com/p/YAa4N9m...
...,...,...,...
30332,nathangerhart28,[],[{'href': 'https://www.instagram.com/p/ChgBeA2...
30333,danschillero,[],[{'href': 'https://www.instagram.com/p/ChlQV0X...
30334,molly.curry1,[],[{'href': 'https://www.instagram.com/p/ChlMdcS...
30335,steelersbyjoey,[],[{'href': 'https://www.instagram.com/p/ChlMRtM...
30336,resellingsecrets,[],[{'href': 'https://www.instagram.com/reel/Chku...

pull timestamp out of string list data array

In [62]:
test2 = [x[0]['timestamp'] for x in test1['string_list_data']]

In [63]:
test2
test2[:10]

[1365871829,
 1365871822,
 1365871819,
 1365871809,
 1365871746,
 1365871735,
 1365552816,
 1365552810,
 1365552783,
 1365199214]

add timestamp to dataframe

In [64]:
likesv2 = pd.DataFrame(test2)

In [65]:
likesv2

                0
0      1365871829
1      1365871822
2      1365871819
3      1365871809
4      1365871746
...           ...
30332  1661218272
30333  1661216949
30334  1661214549
30335  1661214535
30336  1661210050

[30337 rows x 1 columns]

In [66]:
test1['timestamp'] = test2

timestamp is now apart of dataframe

In [67]:
test1

,title,media_list_data,string_list_data,timestamp
0,kingjames,[],[{'href': 'https://www.instagram.com/p/X9GaxRi...,1365871829
1,igrumpycat,[],[{'href': 'https://www.instagram.com/p/X94VyHm...,1365871822
2,chrisbosh,[],[{'href': 'https://www.instagram.com/p/X-SoU1M...,1365871819
3,kingjames,[],[{'href': 'https://www.instagram.com/p/X-U9KEC...,1365871809
4,igrumpycat,[],[{'href': 'https://www.instagram.com/p/YAa4N9m...,1365871746
...,...,...,...,...
30332,nathangerhart28,[],[{'href': 'https://www.instagram.com/p/ChgBeA2...,1661218272
30333,danschillero,[],[{'href': 'https://www.instagram.com/p/ChlQV0X...,1661216949
30334,molly.curry1,[],[{'href': 'https://www.instagram.com/p/ChlMdcS...,1661214549
30335,steelersbyjoey,[],[{'href': 'https://www.instagram.com/p/ChlMRtM...,1661214535
30336,resellingsecrets,[],[{'href': 'https://www.instagram.com/reel/Chku...,1661210050

next 3 cells are testing to try and pull account title out of the array

In [68]:
test1['string_list_data'][0]

[{'href': 'https://www.instagram.com/p/X9GaxRiTBR/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1365871829}]

In [69]:
test1['string_list_data'][0][0]

{'href': 'https://www.instagram.com/p/X9GaxRiTBR/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1365871829}

In [70]:
test1['title']

0               kingjames
1              igrumpycat
2               chrisbosh
3               kingjames
4              igrumpycat
               ...
30332     nathangerhart28
30333        danschillero
30334        molly.curry1
30335      steelersbyjoey
30336    resellingsecrets
Name: title, Length: 30337, dtype: object

the 3 previous cells were tests to try and pull out just the title of the accounts liked

pulling title out of array

In [71]:
test3 = [x for x in test1['title']]

In [72]:
test3
test3[:10]

['kingjames',
 'igrumpycat',
 'chrisbosh',
 'kingjames',
 'igrumpycat',
 'igrumpycat',
 'igrumpycat',
 'igrumpycat',
 'kingjames',
 'q_u_i_n_n_5']

dropping media_list_data since it is an empty array

In [73]:
final_df = test1.drop('media_list_data', axis = 1)

In [74]:
final_df

,title,string_list_data,timestamp
0,kingjames,[{'href': 'https://www.instagram.com/p/X9GaxRi...,1365871829
1,igrumpycat,[{'href': 'https://www.instagram.com/p/X94VyHm...,1365871822
2,chrisbosh,[{'href': 'https://www.instagram.com/p/X-SoU1M...,1365871819
3,kingjames,[{'href': 'https://www.instagram.com/p/X-U9KEC...,1365871809
4,igrumpycat,[{'href': 'https://www.instagram.com/p/YAa4N9m...,1365871746
...,...,...,...
30332,nathangerhart28,[{'href': 'https://www.instagram.com/p/ChgBeA2...,1661218272
30333,danschillero,[{'href': 'https://www.instagram.com/p/ChlQV0X...,1661216949
30334,molly.curry1,[{'href': 'https://www.instagram.com/p/ChlMdcS...,1661214549
30335,steelersbyjoey,[{'href': 'https://www.instagram.com/p/ChlMRtM...,1661214535
30336,resellingsecrets,[{'href': 'https://www.instagram.com/reel/Chku...,1661210050

In [75]:
final_df.groupby('title').count().sort_values('timestamp', ascending=False)

              string_list_data  timestamp
title
cavs                      3054       3054
nba                       2783       2783
steelers                  2070       2070
daquan                    1786       1786
cleguardians              1378       1378
...                        ...        ...
hoops_.life                  1          1
hoopgame                     1          1
hoop_reels                   1          1
hoop.show                    1          1
zupless                      1          1

[2464 rows x 2 columns]

in the cell above for my final dataframe, i could not figure out how to get the groupby and count function to display the entire df

In [76]:
finaldf2 = final_df.groupby('title').count().sort_values('timestamp', ascending=False)

final dataframe is below, starting with the accounts liked the least amount of times, and last being the account that has been liked the most

In [77]:
finaldf2

              string_list_data  timestamp
title
cavs                      3054       3054
nba                       2783       2783
steelers                  2070       2070
daquan                    1786       1786
cleguardians              1378       1378
...                        ...        ...
hoops_.life                  1          1
hoopgame                     1          1
hoop_reels                   1          1
hoop.show                    1          1
zupless                      1          1

[2464 rows x 2 columns]

#### Joshua Malone Likes Report 9/20/22

The 5 tasks are all listed above throughout the analysis. 

The structure of the data that was used was pulled from the json file, and the needed strings were inside of 2 different arrays, being 'likes_media_likes' (which was the parent array), and 'string_list_data'.
You can see the data table that lists the accounts, and how many times the user (my account) has liked a posy of any given account.

In conclusion, my hypothesis was correct for the most part. the account run by a team that post the most amount of times were the accounts like the most, however, the stastical hypothesis was off, being that the account with the most likes was in the 3000's, not around 1000. So the smaller accounts, which could be accounts with owners like ourselves who have smaller accounts, had the smaller amount of likes, and the accounts with bigger followings and more posts had the most. The more an account posts, the greater the number of likes was. 

Next steps could be truly seeing how the number of posts an account has coorelates with how many times the user has liked a post from that account, to understand if the statement saying that the account with the most posts, are the account that has been liked the  most amount of times.